#contain{
    display: flex;
    flex-wrap: wrap;
    margin: 5em;
    justify-content: center;
}

.card2{
    display: flex;
    margin: 1em;
    justify-content: center;
    text-align: center;
}

.empty_img{
    display: flex;
    width: 100%;
    height: 430px;
    text-align: center;
    justify-content: center;
}

.text_empty_img{
    display: flex;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    text-align: center;
}

.image_movie{
    width: 20%;
    margin: auto;
}

.barnav{
    padding: 0;
}